.Home {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.Home .overlay {
    flex: 1;
    background-image: var(--overlay);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.Home .overlay img {
    width: 10rem;
}

.Home .overlay h2 {
    font-size: 9.6rem;
    display: inline-block;
    color: var(--secondary);
    font-style: 700;
}

.Home .overlay h3 {
    font-size: 4rem;
    color: var(--secondary);
    font-style: normal;
}